/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 1400px;
  font-family: "Spartan", sans-serif;
}

P {
  letter-spacing: -0.22px;
  line-height: 3rem;
}

p, a {
  font-size: 1.8rem;
}

h1 {
  font-size: 6.4rem;
  color: white;
  padding-bottom: 2.4rem;
  font-weight: 300;
  letter-spacing: -0.8px;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  letter-spacing: -0.5px;
  padding-bottom: 1.6rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.225px;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  letter-spacing: 2px;
  margin-bottom: 1.2rem;
  display: block;
  position: relative;
  color: lightgrey;
}
.btn:hover {
  color: #4c4c4c;
}

/* Style the active class, and buttons on mouse-over */
.active {
  color: #4c4c4c;
  /* background: url('tiret-h3.png') no-repeat; */
}

.active::before {
  content: url("../img/main-page/tiret-h3.png");
  position: absolute;
  left: -23.8rem;
}

.none {
  display: none;
}

.bg-black {
  background-color: #111111;
  margin-top: -7rem;
}

.bg-family {
  background: url("../img/main-page/Rectangle.svg") no-repeat;
  background-position-x: -45rem;
  position: relative;
}
.bg-family::before {
  content: url("../img/main-page/barre.png");
  position: absolute;
  top: 11rem;
  left: 3rem;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.max-container {
  max-width: 1235px;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  color: white;
  border: 1px solid;
  padding: 2rem 5rem;
  transition: all 0.5s;
  font-size: 500;
  background: #111111;
}
.button:hover {
  background: white;
  color: #111111;
}

.background {
  background: url("../img/main-page/bg-header.png") no-repeat;
  background-position: top right;
  padding-bottom: 18.9rem;
}

.little-article {
  width: 35.1%;
  position: relative;
}
.little-article::before {
  content: url("../img/main-page/branch-h2.svg");
  position: absolute;
  top: -10rem;
}

header {
  background-color: #111111;
}
header figure {
  padding-top: 6.5rem;
  padding-bottom: 15.3rem;
}
header .title-header {
  width: 52%;
  padding-bottom: 8.2rem;
}
header .title-header p {
  width: 70%;
  color: white;
}

.enjoy {
  justify-content: space-between;
  align-items: center;
  background: url("../img/main-page/Rectangle.svg") no-repeat;
  background-position: -14% 77%;
  margin-bottom: 12rem;
}
.enjoy picture {
  margin-top: -10rem;
}
.enjoy picture img {
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.most {
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: url("../img/main-page/Rectangle1.svg") no-repeat;
  background-position: right bottom;
}
.most::before {
  content: url("../img/main-page/barre.png");
  position: absolute;
  right: 0;
}
.most picture {
  margin-top: 0rem;
}
.most picture img {
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.highlights {
  padding-top: 20rem;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
}
.highlights .threearticle {
  width: 50%;
}
.highlights .threearticle .seared {
  justify-content: space-between;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
}
.highlights .threearticle .seared div {
  width: 68%;
}
.highlights .threearticle .seared picture {
  background: url("../img/main-page/one-barre.png") no-repeat;
  background-position: 100% 12%;
  width: 26%;
}

.border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.family {
  justify-content: space-between;
  padding: 16rem 0;
}
.family picture img {
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}
.family article {
  width: 37%;
}
.family article div {
  margin-bottom: 10rem;
}
.family article div p {
  margin-bottom: 5.2rem;
}

.bg-reservation {
  background: url("../img/main-page/reservation.png") no-repeat;
  background-color: #111111;
}

.reservation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.reservation h2 {
  padding: 9.2rem 0;
}
.reservation a {
  background: transparent;
}

.bg-footer {
  background: #111111;
}

footer {
  color: white;
  padding: 7.8rem 0;
  justify-content: space-around;
}
footer article {
  width: 75%;
  justify-content: space-around;
}
footer address {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .background {
    background: url("../img/tablet/bg-header.png") no-repeat;
    background-position: top center;
    text-align: center;
  }

  header .title-header {
    width: 71%;
    text-align: center;
    padding-top: 42%;
    margin: 0 auto;
  }
  header .title-header figure {
    padding-bottom: 3.2rem;
  }
  header .title-header p {
    width: 100%;
  }

  .enjoy {
    background: url("../img/tablet/Rectangle.png") no-repeat;
    background-position: center left;
    flex-direction: column;
  }
  .enjoy picture {
    margin-bottom: 15rem;
  }

  .most {
    flex-direction: column-reverse;
    margin-bottom: 12rem;
    background: url("../img/tablet/Rectangle2.png") no-repeat;
    background-position: bottom right;
  }
  .most::before {
    top: 22rem;
  }
  .most picture {
    margin-bottom: 15rem;
  }

  .little-article {
    width: 59%;
    margin: 0 auto;
  }
  .little-article::before {
    left: 40%;
  }
  .little-article h2 {
    width: 84%;
    margin: 0 auto;
  }

  .bg-black {
    margin: 0;
    text-align: center;
  }

  .highlights .threearticle {
    margin: 2.6rem auto;
    width: 88%;
  }

  .bg-family {
    text-align: center;
  }

  .family {
    flex-direction: column;
  }
  .family article {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    width: 85%;
  }
  .family article div:nth-child(1) {
    width: 70%;
    margin: 0 auto;
  }
  .family article #myDIV {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;
  }
  .family article #myDIV .active::before {
    bottom: -1.8rem;
    left: 21%;
  }

  .bg-reservation {
    background: url("../img/tablet/reservation.png") no-repeat;
    background-color: #111111;
    padding-bottom: 5rem;
  }

  .reservation {
    flex-direction: column;
  }
  .reservation h2 {
    padding-bottom: 1.5rem;
    padding-top: 5rem;
  }

  footer article {
    flex-direction: column;
    justify-content: start;
    width: 60%;
  }
  footer article div:nth-child(1) {
    margin-bottom: 3.2rem;
  }
}
@media screen and (max-width: 650px) {
  h1, h2 {
    font-size: 3.2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .background {
    background: url("../img/mobile/bgheader.png") no-repeat;
    background-position: top center;
  }

  header .title-header {
    width: 88%;
  }

  header figure {
    padding-top: 9.5rem;
  }

  .enjoy picture {
    margin-bottom: 7rem;
  }

  .little-article {
    width: 100%;
    text-align: center;
  }
  .little-article::before {
    top: -4rem;
  }
  .little-article p {
    width: 92%;
    margin: 0 auto;
  }

  .most {
    background: none;
  }
  .most picture {
    margin-bottom: 10rem;
  }
  .most::before {
    display: none;
  }

  .highlights {
    padding-top: 10rem;
  }
  .highlights .threearticle div {
    flex-direction: column;
  }
  .highlights .threearticle .seared picture {
    background: none;
    width: 100%;
  }
  .highlights .threearticle .seared div {
    width: 95%;
    margin: 2rem auto;
  }

  .bg-family::before {
    content: none;
  }

  .family {
    padding: 7rem 0;
  }
  .family article {
    width: 100%;
  }
  .family article div:nth-child(1) {
    width: 99%;
  }
  .family article #myDIV {
    flex-direction: column;
  }
  .family article #myDIV .active::before {
    bottom: -1rem;
    left: 40%;
  }

  .reservation h2 {
    text-align: center;
  }

  footer {
    flex-direction: column;
  }

  footer figure {
    margin-bottom: 4rem;
  }

  footer, footer article {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
