/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --color-beaver: rgba(158, 127, 102, 1);
  --color-codGray: rgba(17, 17, 17, 1);
  --mirage: rgba(23, 25 ,43, 1);
  --ebonyCLay: rgba(36, 43, 55, 1);
  --shuttleGray: rgba(92, 103, 121);
}

body {
  font-family: "Spartan", sans-serif;
  overflow-x: hidden;
}

.max-width {
  max-width: 1114px;
  margin: 0 auto;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.225px;
}

.para-footer {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
}

h1 {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 7.2rem;
  letter-spacing: -0.8px;
  color: white;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.225px;
}

.h3-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.225px;
  margin-bottom: 0.4rem;
}

.highlights-seared-para {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1875px;
}

.btn {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
  padding: 2.4rem 5.7rem;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  transition: all 0.5s;
}
.btn:hover {
  background: white;
  color: black;
  border: 1px black solid;
}

picture img {
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.btn-black {
  display: inline-block;
  background-color: var(--color-codGray);
  margin-top: 3.2rem;
}

.container-article {
  max-width: 44.2rem;
  position: relative;
}
.container-article::before {
  content: url("../img/main-page/branch-h2.svg");
  position: absolute;
  top: -4.8rem;
}
.container-article .heading-2 {
  margin-bottom: 1.6rem;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.display-none {
  display: none;
}

.background {
  background: url("../img/main-page/bg-header.png") no-repeat;
  background-position: top right;
  background-size: contain;
  background-color: #1a1a1a;
  padding-top: 6.5rem;
  padding-left: 16.5rem;
}
.background__container {
  max-width: 54.5rem;
  padding-bottom: 19.8rem;
}
.background__container .background__heading-1 {
  padding-top: 15.3rem;
}
.background__container .background__para {
  padding-top: 2.4rem;
  color: white;
  max-width: 445px;
}
.background__container .btn--background {
  display: inline-block;
  margin-top: 4.2rem;
}

.twobox {
  position: relative;
  background-image: url("../img/main-page/Rectangle.svg"), url("../img/main-page/Rectangle1.svg");
  background-repeat: no-repeat;
  background-position-y: 24.2rem, 91.1%;
  background-position-x: left, right;
}
.twobox__container-enjoy {
  margin-bottom: 12.1rem;
}
.twobox__container-enjoy__picture img {
  margin-top: -7rem;
}

.twobox__container-most__picture {
  position: relative;
}
.twobox__container-most__picture::before {
  content: url("../img/main-page/barre.png");
  position: absolute;
  top: 28.2rem;
  right: -10rem;
}

.border {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.highlights {
  background-color: var(--color-codGray);
  margin-top: -10.4rem;
  color: white;
}
.highlights__container {
  padding-top: 20rem;
  align-items: baseline;
}
.highlights__seared {
  margin-bottom: 12rem;
}
.highlights__seared__items {
  max-width: 54rem;
  padding: 2.4rem 0;
}
.highlights__seared__items__picture {
  background: url("../img/main-page/one-barre.png") no-repeat;
  background-position: right 1.8rem;
  width: 15rem;
  margin-right: 2.2rem;
}
.highlights__seared__items__description {
  max-width: 35rem;
}

.family {
  background: url("../img/main-page/Rectangle.svg") no-repeat;
  background-position: top left;
}
.family__container {
  padding: 16rem 0;
}
.family__container picture {
  position: relative;
}
.family__container picture::before {
  content: url("../img/main-page/barre.png");
  position: absolute;
  top: -3.8rem;
  left: -3rem;
}
.family .buttons {
  margin-top: 7.8rem;
}
.family .buttons a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgba(1, 1, 1, 0.3);
  margin-bottom: 1.2rem;
  transition: all 0.5s;
}
.family .buttons a:hover {
  color: var(--color-codGray);
}
.family .buttons .active {
  position: relative;
  color: var(--color-codGray);
}
.family .buttons .active::before {
  content: url("../img/main-page/longbarre.png");
  position: absolute;
  top: -0.5rem;
  left: -12.7rem;
}

.reservation {
  color: white;
  background: url("../img/main-page/reservation.png") no-repeat;
  background-size: contain;
  background-color: var(--color-codGray);
}
.reservation__container {
  text-align: center;
  padding: 7.9rem 0;
}

.footer {
  background: var(--color-codGray);
  color: white;
}
.footer__container {
  padding: 7.8rem 0;
  justify-content: space-evenly;
}
.footer__container__picture {
  display: inline-block;
}
.footer__address {
  width: 814px;
  justify-content: space-evenly;
}

@media screen and (max-width: 1150px) {
  .container-article {
    margin: 9.5rem auto 0;
    text-align: center;
  }

  .background {
    background: url("../img/tablet/bg-header.png") no-repeat;
    background-position: top center;
    padding-left: 0;
    background-color: #181818;
  }
  .background__container {
    max-width: 67.9rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 31rem;
  }
  .background .background__heading-1 {
    padding-top: 3.2rem;
  }
  .background .background__para {
    max-width: 57.3rem;
    margin: 0 auto;
  }

  .twobox {
    background-position-y: 12.8rem, 100%;
    background-position-x: -55rem, 37rem;
    padding-bottom: 12rem;
  }
  .twobox__container-enjoy {
    flex-direction: column;
    justify-content: center;
  }
  .twobox__container-most {
    flex-direction: column-reverse;
  }
  .twobox__container-most__picture::before {
    top: 22.2rem;
    right: -7rem;
  }

  .highlights {
    margin-top: 0;
    padding-top: 4rem;
  }
  .highlights__container {
    justify-content: center;
    padding: 0;
  }
  .highlights__seared {
    padding-top: 2.6rem;
  }

  .family {
    background-position: -41rem top;
  }
  .family__container {
    justify-content: center;
    padding-top: 9.6rem;
  }
  .family__gathering {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .family__gathering .container-article::before {
    content: none;
  }
  .family .buttons {
    margin-top: 5.6rem;
  }
  .family .buttons a {
    display: inline-block;
    margin: 0 2rem 0 0;
    text-align: center;
  }
  .family .buttons .active::before {
    top: 1rem;
    left: 19%;
  }

  .reservation {
    background: url("../img/tablet/reservation.png");
    background-color: var(--color-codGray);
  }
  .reservation__container {
    flex-direction: column;
    padding: 6.5rem 0;
  }
  .reservation__container .btn {
    margin-top: 2.3rem;
  }

  .footer__container {
    align-items: end;
  }
  .footer__container__picture {
    margin-bottom: 4rem;
  }
  .footer__address {
    display: block;
    max-width: 45.6rem;
    margin-left: 12.9rem;
  }
  .footer__address__container {
    margin-bottom: 3.2rem;
  }
}
@media screen and (max-width: 600px) {
  .background__container, .container-article {
    max-width: 315px;
  }

  .container-article {
    margin-top: 8.7rem;
  }
  .container-article::before {
    left: 12rem;
  }

  .background__heading-1 {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 4rem;
    text-align: center;
    letter-spacing: -0.4px;
  }

  p, .background__para {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: -0.1875px;
  }

  .heading-2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    letter-spacing: -0.4px;
  }

  .twobox {
    background: none;
    padding-bottom: 8rem;
  }
  .twobox__container-enjoy {
    margin-top: 7.9rem;
  }
  .twobox__container-enjoy__picture img {
    margin-top: -16rem;
  }
  .twobox__container-most__picture::before {
    content: none;
  }

  .highlights {
    padding-top: 7.2rem;
  }
  .highlights .container-article {
    max-width: 35rem;
    margin-bottom: 6.4rem;
  }
  .highlights__seared__items {
    justify-content: center;
  }
  .highlights__seared__items__picture {
    background: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .highlights__seared__items__description {
    text-align: center;
    margin-top: 3.2rem;
  }

  .family__container {
    padding-top: 8rem;
  }
  .family__container picture::before {
    content: none;
  }

  .family .buttons a {
    display: block;
    margin-bottom: 1.6rem;
  }

  .family .buttons .active::before {
    left: 33%;
  }

  .family .container-article {
    margin-top: 2.4rem;
  }

  .reservation {
    background: url("../img/mobile/reservation.png") no-repeat;
    background-size: cover;
    background-color: var(--color-codGray);
  }
  .reservation__container {
    padding: 8rem 0;
  }

  .footer__address {
    margin: 4rem 0 0 0;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
